/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1c1f2b;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2c303a;
}
.logo>img{
    height: 60px;
    width: 60px;
    margin: 0;
    padding: 0;
    display: inline-block;
    }
    #title {
        width:auto; /* Ensures the image scales proportionally */
        max-width: 100%; /* Prevents the image from exceeding its container's width */
        height:60px; /* Ensures the height scales proportionally with the width */
    }

    

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}



.focus-room-section {
    text-align: center;
    padding: 50px 20px;
}

.focus-room-section h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
}

.focus-room-section .line1 {
    font-size: 25px;
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    display: inline;

}
.focus-room-section .line2 {
    font-size: 25px;
    margin-bottom: 40px;
    font-family: "Oswald", sans-serif;
    display: inline;
    color:blueviolet;
}
.focus-room-section .line3 {
    font-size: 25px;
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    display: inline;
    
}
.focus-room-section .line4 {
    font-size: 18px;
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    color:#5b647b;
    

}


.login-box {
    width: 600px;
    height: 400px;
    padding: 40px;
    background: #2c303a;
    box-shadow: 0 15px 25px #00000033;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto; /* Centers the login box */
    margin-top: 20px; /* Adds some space above the login box */
}
.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color:white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;

}

.textbox {
    position: relative;
    margin-bottom: 30px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    background: #f2f2f2;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
}

.btn {
    width: 100%;
    background: #333;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
}

.btn:hover {
    background: #202020;
}
.Register{
    position: relative;
    top: 30px;
}

.why-join-section {
    text-align: center;
    padding: 50px 20px;
    margin-top: 50px; /* Adjusted margin-top to create a larger gap */
}

.why-join-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.why-join-section p {
    font-size: 18px;
    margin-bottom: 20px;
}